node_type=TYPE
location=LOCATION

rrd_file_prefix=mongodb_
rrd_path_vms_prefix=PATH_TO_RRDS/VMs
rrd_path_workload_hosts_prefix=PATH_TO_RRDS/workload

fault_injection_filename=fault_injection.rrd
fault_intensity_filename=fault_intensity.rrd
fault_value_filename=fault_value.rrd

slo_violation_filename=slo_violation.rrd
slo_throughput_filename=slo_throughput.rrd
slo_target_throughput_filename=slo_target_throughput.rrd
slo_system_id_filename=slo_system_id.rrd
slo_latency_95th_filename=slo_latency_95th.rrd
slo_latency_99th_filename=slo_latency_99th.rrd
slo_latency_avg_filename=slo_latency_avg.rrd
slo_max_latency_95th_filename=slo_max_latency_95th.rrd
slo_max_latency_99th_filename=slo_max_latency_99th.rrd
slo_max_latency_avg_filename=slo_max_latency_avg.rrd
slo_rtt_filename=slo_rtt.rrd
slo_death_filename=slo_death.rrd
slo_outliers_filename=slo_outliers.rrd

vm_bytes_out_filename=bytes_out.rrd
load_one_filename=load_one.rrd
vm_mongodb_is_primary_filename=mongodb_is_primary.rrd 

root_dir=/home/USER
home_dir=/home/USER/tejo
guest_vm_sys_user=USER
guest_vm_sys_pass=GUEST_PASSWORD
collect_delay=15
alive_time=60
time_to_vm_death=86400
default_domain=MY_DOMAIN

default_gmond_port=8649
ganglia_api=http://localhost:8652
vm_gmond_port=8649
wl_gmond_port=8648

db_name=userdb
db_user=user
db_host=127.0.0.1
db_pass=u53r
db_tunnelling=no
db_port=8432
db_master=eu-monitor-001.MY_DOMAIN

mongo_ports="27017"
mongo_query_router_host=QROUTER
mongo_root=/var/lib/mongodb
mongo_db=ycsb
mongo_collection=usertable
mongo_replication_degree=8
mongo_recordcount=2400000
mongo_maxexecutiontime=120
mongo_active_wl_file=/home/USER/wl_active.hit
volt_ports="21212,3021,5555,2181,21211"
volt_leader=LOCATION-vm-001.MY_DOMAIN
volt_wl_duration=480
volt_wl_log=/tmp/volt_wl_run.log
volt_rate_limit=3000

all_peers_file=/home/USER/all_peers_list.pck
nearest_peers_file=/home/USER/nearest_peers_list.pck
monitors_list_file=/home/USER/monitors_list.pck
workload_list_file=/home/USER/workload_list.pck
workload_rtt=/tmp/rtt.pck
workload_strategy=nearest
workload_target=WL_TARGET
workload_user=upmc_aren
workload_peer_status=/home/USER/peers_tatus_table.pck
workload_target_rates=300,200,100,50
workload_death_file=/tmp/wl_death.pck
workload_outliers_file=/tmp/wl_outliers.pck
workload_throughput=200

system_id=0

www_dir=/usr/share/ganglia-webfrontend/
