vms=LOCATION-vm-001.cloudapp.net,LOCATION-vm-002.cloudapp.net,LOCATION-vm-003.cloudapp.net,LOCATION-vm-004.cloudapp.net,LOCATION-vm-005.cloudapp.net,LOCATION-vm-006.cloudapp.net

workload_hosts=LOCATION-workload-001.cloudapp.net,

rrd_file_prefix=mongodb_
rrd_path_vms_prefix=/var/db/ganglia/rrds/VMs
rrd_path_workload_hosts_prefix=/var/db/ganglia/rrds/workload

fault_injection_filename=fault_injection.rrd
fault_intensity_filename=fault_intensity.rrd
fault_value_filename=fault_value.rrd

slo_violation_filename=slo_violation.rrd
slo_throughput_filename=slo_throughput.rrd
slo_latency_99th_read_filename=slo_latency_99th_read.rrd
slo_max_latency_99th_read_filename=slo_max_latency_99th_read.rrd
slo_target_throughput_filename=slo_target_throughput.rrd
slo_system_id_filename=slo_system_id.rrd
slo_latency_95th_filename=slo_latency_95th.rrd
slo_latency_99th_filename=slo_latency_99th.rrd
slo_latency_avg_filename=slo_latency_avg.rrd
slo_max_latency_95th_filename=slo_max_latency_95th.rrd
slo_max_latency_99th_filename=slo_max_latency_99th.rrd
slo_max_latency_avg_filename=slo_max_latency_avg.rrd

vm_bytes_out_filename=bytes_out.rrd
load_one_filename=load_one.rrd
vm_mongodb_is_primary_filename=mongodb_is_primary.rrd 

home_dir=/home/user/hermes
vsphere_host=vsphere
vsphere_user=root
vsphere_pass=VSPHERE_PASSWORD
guest_vm_sys_user=user
guest_vm_sys_pass=GUEST_PASSWORD
collect_delay=15
alive_time=60

db_name=userdb
db_user=user
db_host=127.0.0.1
db_pass=DB_PASSWORD

mongo_ports="27017"
mongo_query_router_host=LOCATION-qrouter-001.cloudapp.net
volt_ports="21212,3021,5555,2181,21211"
volt_leader=LOCATION-vm-001.cloudapp.net
volt_wl_duration=480
volt_wl_log=/tmp/volt_wl_run.log
volt_rate_limit=3000
